<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/play.css')}}">
        <title>D-Epic</title>
    </head>
    <body>
      <form method=post enctype=multipart/form-data>
        <div class="p-tabs">
        <div class="Vid">
            <label><h2>Sample Text</h2></label>
            <p  id = "sample" name="sample">
                {{data}}
            </p>
        </div>
            <input checked="checked" id="tab1" type="radio" name="pct" />
            <input id="tab2" type="radio" name="pct" />
            <input id="tab3" type="radio" name="pct"/>
            <nav>
                <ul>
                    <li class="tab1">
                    <label for="tab1"><b>Customization</b></label>
                    </li>
                    <li class="tab2">
                    <label for="tab2"><b>Fine-tunning</b></label>
                    </li>
                </ul>
            </nav>
            <section>
                <div class="tab1">
                    <h2>Customization</h2>
                    <h5>under development</h5>
                </div>
                <div class="tab2">
                    <h2>Fine-tunning</h2>
                    <label>Number of Epoch:</label>
                    <input list="epoch" name="epoch">
                    <datalist id="epoch" name="epoch">
                        <option value="100"></option>
                        <option value="200"></option>
                        <option value="300"></option>
                        <option value="500"></option>
                        <option value="700"></option>
                        <option value="1000"></option>
                    </datalist>
                    <br>
                    <br>
                    <label>Select the model</label>
                    <select name="model-name" id="model-name">
                        <option value="124M">124M</option>
                        <option value="774M">774M</option>
                    </select>
                </div>
            </section>
            <div class="inputBox">
                <a href="/preview_1"><input type="submit" id="Done" value="Done"></a>
            </div>
        </div>
      </form>
    </body>
</html>