<html>
    <head>
        <title>
            D-Epic
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
        <script type="text/javascript" src="/eel.js"></script>
    </head>
    <body>
        <div class="form">
            <h2>Help</h2>
            <div class="input">
                <p>HI</p>
                <div class="inputBox">
                    <a href="./index.html"><input type="submit" value="Back"></a>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>