<html>
    <head>
        <title>
            D-Epic
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <div class="form">
            <h2>D-Epic</h2>
            <div class="input">
                <div class="inputBox">
                    <a href="./Configure"><input type="submit" id="play" value="New Project"></a>
                    <a href="./Existing_project"><input type="submit" value="Open existing Project"></a>
                    <a href="./Help"><input type="submit" value="Help"></a>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>