<html>
    <head>
        <title>
            D-Epic
        </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/iframe_c.css')}}">
    </head>
    <body>
        <div class="form">
            <div class="input">
                <div class="inputBox">
                    <form method=post enctype=multipart/form-data>
                    <h2>Customization</h2>
                    <br>
                    <label>Select the background color</label>
                    <input type = "color" name="background-color">
                    <br>
                    <br>
                    <label>Select text color 1</label>
                    <input type = "color" name="text-color-1">
                    <br>
                    <br>
                    <label>Select text color 2</label>
                    <input type = "color" name="text-color-2">
                    <br>
                    <br>
                    <label>Select text color 3</label>
                    <input type = "color" name="text-color-3">
                    <br>
                    <br>
                    <label>Select button color 1</label>
                    <input type="color" name="button-color-1">
                    <br>
                    <br>
                    <label>Select button color 2</label>
                    <input type="color" name="button-color-2">
                    <br>
                    <br>
                    <label>Select font of text</label>
                    <select  name="font" id="font">
                        <option value="Arial">Arial</option>
                        <option value="Verdana ">Verdana </option>
                        <option value="Helvetica">Helvetica</option>
                        <option value="Tahoma">Tahoma</option>
                        <option value="Trebuchet MS">Trebuchet MS</option>
                        <option value="Times New Roman ">Times New Roman </option>
                        <option value="Georgia">Georgia</option>
                        <option value="Garamond">Garamond</option>
                        <option value="Courier New">Courier New</option>
                        <option value="Brush Script MT">Brush Script MT</option>
                    </select>
                    <a href="#"><input type="submit" id="Customization" value="Save"></a>
                </div>
                </div>
            </div>
    </body>
</html>